In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df= pd.read_csv("D:/Work/Revelio/Cave Cafe/exact_cleaned_data.csv")

In [40]:
df_dates=pd.read_csv("D:/Work/Revelio/Cave Cafe/cave_eng - Copy.csv" )

In [43]:
# Setting the key column for merging
key_col = 'Id'
Date_col = 'StartSession'
# Merging the dataframes on the key column
New_date= f"{Date_col}_from b"
df = df.merge(df_dates[[key_col, Date_col]].rename(columns={Date_col: New_date}), 
              on=key_col,
               how='left'
               )

In [44]:
df.head()

,Id,No,Barcode,Name,PriceList,Category_Id,category_name,Quantity,TotalPrice,Count,...,MenuId,IsDone,DiscountValue,StartSession,YearMonth,NormalizedName,CannedProduct,type_encoded,Category_Id_numeric,StartSession_from b
0,461bb8e3-fa25-4298-86d3-da3b3290f877,52,52,قهوة تركي,35,a562390f-e36d-4349-aba5-99440975975c,مشروبات ساخنة,1,0.0,1379,...,1,1,35.0,07:29.1,2025-06,قهوة تركي,No,1,1,2025-03-05 21:25:40
1,461bb8e3-fa25-4298-86d3-da3b3290f877,52,52,قهوة تركي,35,a562390f-e36d-4349-aba5-99440975975c,مشروبات ساخنة,1,0.0,1379,...,1,1,35.0,07:29.1,2025-06,قهوة تركي,No,1,1,2025-03-05 21:25:40
2,461bb8e3-fa25-4298-86d3-da3b3290f877,52,52,قهوة تركي,35,a562390f-e36d-4349-aba5-99440975975c,مشروبات ساخنة,1,0.0,1379,...,1,1,35.0,07:29.1,2025-06,قهوة تركي,No,1,1,2025-03-05 21:50:22
3,461bb8e3-fa25-4298-86d3-da3b3290f877,52,52,قهوة تركي,35,a562390f-e36d-4349-aba5-99440975975c,مشروبات ساخنة,1,0.0,1379,...,1,1,35.0,07:29.1,2025-06,قهوة تركي,No,1,1,2025-03-05 21:50:22
4,461bb8e3-fa25-4298-86d3-da3b3290f877,52,52,قهوة تركي,35,a562390f-e36d-4349-aba5-99440975975c,مشروبات ساخنة,1,0.0,1379,...,1,1,35.0,07:29.1,2025-06,قهوة تركي,No,1,1,2025-03-06 18:52:52

In [45]:
df.info(36)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173080 entries, 0 to 2173079
Data columns (total 39 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Id                                object
 1   No                                int64
 2   Barcode                           int64
 3   Name                              object
 4   PriceList                         int64
 5   Category_Id                       object
 6   category_name                     object
 7   Quantity                          int64
 8   TotalPrice                        float64
 9   Count                             int64
 10  type                              object
 11  is_refund                         int64
 12  Session_Id                        object
 13  User_Id                           object
 14  SalaCaptinId                      object
 15  BranchId                          int64
 16  IsDeleted                         int64
 17  TableId                           object
 18  DailyCount                        int64
 19  YearCount                         int64
 20  Is_Cash                           int64
 21  Date                              object
 22  UnitId                            int64
 23  ProductUnitName                   object
 24  QuantityFromParentForProductUnit  int64
 25  SoldUnitName                      object
 26  QuantityFromParentForSoldUnit     int64
 27  TotalCost                         float64
 28  UnitCost                          float64
 29  MenuId                            int64
 30  IsDone                            int64
 31  DiscountValue                     float64
 32  StartSession                      object
 33  YearMonth                         object
 34  NormalizedName                    object
 35  CannedProduct                     object
 36  type_encoded                      int64
 37  Category_Id_numeric               int64
 38  StartSession_from b               object
dtypes: float64(4), int64(18), object(17)
memory usage: 646.6+ MB

In [46]:
df['StartSession_from b']= pd.to_datetime(df['StartSession_from b'], errors='coerce')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173080 entries, 0 to 2173079
Data columns (total 39 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Id                                object
 1   No                                int64
 2   Barcode                           int64
 3   Name                              object
 4   PriceList                         int64
 5   Category_Id                       object
 6   category_name                     object
 7   Quantity                          int64
 8   TotalPrice                        float64
 9   Count                             int64
 10  type                              object
 11  is_refund                         int64
 12  Session_Id                        object
 13  User_Id                           object
 14  SalaCaptinId                      object
 15  BranchId                          int64
 16  IsDeleted                         int64
 17  TableId                           object
 18  DailyCount                        int64
 19  YearCount                         int64
 20  Is_Cash                           int64
 21  Date                              object
 22  UnitId                            int64
 23  ProductUnitName                   object
 24  QuantityFromParentForProductUnit  int64
 25  SoldUnitName                      object
 26  QuantityFromParentForSoldUnit     int64
 27  TotalCost                         float64
 28  UnitCost                          float64
 29  MenuId                            int64
 30  IsDone                            int64
 31  DiscountValue                     float64
 32  StartSession                      object
 33  YearMonth                         object
 34  NormalizedName                    object
 35  CannedProduct                     object
 36  type_encoded                      int64
 37  Category_Id_numeric               int64
 38  StartSession_from b               datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(18), object(16)
memory usage: 646.6+ MB

In [26]:
print(df['Category_Id'].unique())

['a562390f-e36d-4349-aba5-99440975975c'
 '2dc3d683-b099-4c3c-9df4-81935227e011'
 'f3b6a32c-2ce9-4c21-9371-0c3c4a386896'
 '717428a5-fbda-4fc8-832a-ef875c24f18e'
 'e7da47e5-6b52-42fc-a738-46548601fa91'
 'c6972962-0fad-4648-84ba-865ef61b6f4e'
 '45b614c1-0f52-49db-9b5a-ef481b29a90f'
 'd81e62db-0f64-4e9d-a251-670f24a4d82c'
 'dedf70c0-50f7-4b31-9973-2db64a1f3b41'
 'acd8a4d3-140b-4af5-939f-37e595a0ce95'
 '7ea2a0d2-a249-412b-89bd-58966a1625cb'
 '8fd56b98-f3f3-462c-9a39-ddde5143036d'
 '7883c987-77d6-4f49-b8d4-3c56810e8aa2'
 '2b1eb9f4-efa7-4e7a-a91a-6ab5e82da07b'
 'ea633aa2-3f7a-4fbf-a917-3d01f85e84ba']

In [29]:
df['Category_Id_numeric'], _ = pd.factorize(df['Category_Id'])
df['Category_Id_numeric'] = df['Category_Id_numeric'] + 1

In [30]:
print(df['Category_Id_numeric'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [6]:
print(df.columns)

Index(['Id', 'No', 'Barcode', 'Name', 'PriceList', 'Category_Id',
       'category_name', 'Quantity', 'TotalPrice', 'Count', 'type', 'is_refund',
       'Session_Id', 'User_Id', 'SalaCaptinId', 'BranchId', 'IsDeleted',
       'TableId', 'DailyCount', 'YearCount', 'Is_Cash', 'Date', 'UnitId',
       'ProductUnitName', 'QuantityFromParentForProductUnit', 'SoldUnitName',
       'QuantityFromParentForSoldUnit', 'TotalCost', 'UnitCost', 'MenuId',
       'IsDone', 'DiscountValue', 'StartSession', 'YearMonth',
       'NormalizedName', 'CannedProduct'],
      dtype='object')

### Preparing the data

In [11]:
print(df['type'].head(20))

0         صالة
1         صالة
2         صالة
3         صالة
4         صالة
5         صالة
6         صالة
7         صالة
8         صالة
9         صالة
10    تيك اواي
11        صالة
12        صالة
13    تيك اواي
14        صالة
15        صالة
16        صالة
17        صالة
18        صالة
19        صالة
Name: type, dtype: object

In [12]:
# Map values: dine in → 1, delivery → 0
df['type_encoded'] = df['type'].map({
    'صالة': 1,
    'تيك اواي': 0
})

In [21]:
print(df['type_encoded'])

0       1
1       1
2       1
3       1
4       1
       ..
4772    1
4773    1
4774    1
4775    1
4776    1
Name: type_encoded, Length: 4777, dtype: int64

# Training the regression  model

In [31]:
features = ['PriceList','Category_Id_numeric','Quantity','type_encoded','is_refund','Is_Cash','DiscountValue','UnitCost']
target = 'TotalPrice'

In [57]:
#split the data into training and testing sets
x= df[features]
y= df[target]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.35, random_state=42)

In [58]:
#Training the regression model
model = LinearRegression()
model.fit(x_train, y_train)
# Make predictions
y_pred = model.predict(x_test)

In [59]:
print(y_pred)

[ 8.01632101 48.89928201  8.07302529 ...  8.01823865 28.07898841
 77.53371231]

In [60]:
#Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 156.14841710187494
R-squared: 0.8246071272357116

In [53]:
#extracting time features from the date column to enhance the model
df['year']        = df['StartSession_from b'].dt.year
df['month']       = df['StartSession_from b'].dt.month
df['day']         = df['StartSession_from b'].dt.day
df['day_of_week'] = df['StartSession_from b'].dt.dayofweek+1
df['hour']        = df['StartSession_from b'].dt.hour
df['is_weekend']  = df['day_of_week'].isin([5, 6]).astype(int)

In [55]:
print(df['is_weekend'].unique())

[0 1]

In [56]:
features = [
    'PriceList', 'Category_Id_numeric', 'Quantity', 'type_encoded',
    'is_refund', 'Is_Cash', 'DiscountValue', 'UnitCost',
    'year', 'month', 'day', 'day_of_week', 'hour', 'is_weekend'
]

In [61]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 156.14841710187494
R-squared: 0.8246071272357116

In [62]:
import joblib
joblib.dump(model, 'linear_regression_model_cave.pkl')

['linear_regression_model_cave.pkl']

In [63]:
import os
print(os.getcwd())

c:\Users\omar saadallah\AppData\Local\Programs\Microsoft VS Code